{{#extends 'base'}}

{{#block 'content'}}
<div class="mb-2 cart-header">
    <h1>Cart</h1>
    <a href="/checkout/" class="btn btn-sm btn-warning ml-auto checkout-btn mt-3">Checkout</a>
</div>
<ul class="list-group">

    {{#each this.allItems}}
    <li class="list-group-item individual-item">
        {{#if this.posters.image_url}}
        <img class="img-fliud" src="{{this.posters.image_url}}" />
        {{/if}}
        <div class="ml-4">
            <h4>{{this.posters.title}}</h4>
        <h6>Price: ${{this.posters.cost}}</h6>
        <form method="POST" action="/cart/{{this.posters.id}}/quantity/update">
            <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
            <p>
                Qty: <input type="text" style="width:30px" name="quantity" value="{{this.quantity}}">
            </p>
                <input type="submit" class="btn btn-success btn-sm mb-2" value="Update Quantity" />
        </form>
        <a href="/cart/{{this.posters.id}}/remove" class="btn btn-danger btn-sm">Remove</a>
        </div>
    </li>

    {{/each}}

</ul>

{{/block}}

{{/extends}}