{{#extends 'base'}}

{{#block 'content'}}
<div class="mb-2">
    <h1>Your shopping cart</h1>
    <a href="/checkout/checkout" class="btn btn-sm btn-success">Checkout</a> 
</div>
<ul class="list-group">

    {{#each this.allItems}}
    <li class="list-group-item">
        <h4>{{this.posters.title}}</h4>
        <h5>Price: {{this.posters.cost}}</h5>
        <form method="POST" action="/shoppingCart/{{this.posters.id}}/quantity/update">
        <input type="hidden" name="_csrf" value="{{../csrfToken}}"/>
        <h5>
            Quantity: <input type="text" style="width:30px" name="quantity" value="{{this.quantity}}">
            <input type="submit" class="btn btn-success btn-sm" value="Update Quantity"/>
        </h5>
        </form>   
        <a href="/shoppingCart/{{this.posters.id}}/remove" class="btn btn-danger btn-sm">Remove</a> 
        {{#if this.posters.image_url}}
                <img class="img-fliud" src="{{this.posters.image_url}}" />
                {{/if}}
    </li>

    {{/each}}

</ul>

{{/block}}

{{/extends}} 