{{#extends "base"}}
{{#block "content"}}
<h1>Posters List</h1>
<a href="/posters/create" class="btn btn-success mb-2">Create</a>

<a class="btn btn-primary mb-2" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false"
    aria-controls="collapseForm">
    Search
</a>
<form method="GET" id="collapseForm" class="collapse">
    {{{form}}}
    <input type="submit" class="btn btn-primary mb-2" value="Search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Cost
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th>
                Stock
            </th>
            <th>
                Height(cm)
            </th>
            <th>
                Width(cm)
            </th>
            <th>
                Genre
            </th>
            <th>
                Images
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each posters}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>{{this.date}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.height}}</td>
            <td>{{this.width}}</td>
            <td>
                {{#each this.genres}}
                <span class="badge badge-pill badge-primary">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                {{#if this.image_url}}
                <img class="img-fliud" src="{{this.image_url}}" />
                {{/if}}
            </td>
            <td>
                <a href="/shoppingCart/{{this.id}}/add" class="btn-sm btn-warning">Add to Cart</a>
                <a href="/posters/{{this.id}}/update" class="btn-sm btn-success">Update</a>
                <a href="/posters/{{this.id}}/delete" class="btn-sm btn-danger ">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}