{{#extends "base"}}
{{#block "content"}}
<h1>Posters List</h1> 
<a href="/posters/create" class="btn btn-success mb-2">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Cost
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th>
                Stock
            </th>
            <th>
                Height(cm)
            </th>
            <th>
                Width(cm)
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each posters}}
            <tr>    
                <td>{{this.title}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.description}}</td>
                <td>{{this.date}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.height}}</td>
                <td>{{this.width}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}